<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sql映射文件 将java的类和数据库的表通过sql映射文件关联起来 -->


<!-- namespace 表示访问这个mapper文件的路径 一般与真实路径相同 -->

<mapper namespace="com.yc.mapper.BookRankMapper">

	<!-- 二级缓存 -->
	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"></cache>
	
	<!-- redis缓存
	<cache type="com.yc.dao.redis.cache.RedisCache"></cache>  -->
	
	<select id="getScores"  resultType="BookRank" parameterType="BookRank" >
		select * from bookrank
		where 1=1
		<choose>
			<when test="rid!=null">
				and rid = #{rid}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="addScores" parameterType="BookRank" useGeneratedKeys="true" keyProperty="rid">
		insert into bookrank( ip,bid,scores )
		values( #{ip},#{bid},#{scores} );
	</insert>
	
	
</mapper>



















