<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sql映射文件 将java的类和数据库的表通过sql映射文件关联起来 -->


<!-- namespace 表示访问这个mapper文件的路径 一般与真实路径相同 -->

<mapper namespace="com.yc.mapper.BookMapper">

	<!-- 二级缓存 -->
	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"></cache>
	
	<!-- redis缓存
	<cache type="com.yc.dao.redis.cache.RedisCache"></cache>  -->
	
	<select id="findBook"  resultMap="map1" parameterType="Book" >
		select
		bid,b.bname,b.cid,b.isbn,b.author,b.price,pdfs,discription,c.cid,c.cname
		from bookpdf b
		inner join category c
		on b.cid=c.cid
		where 1=1
		<choose>
			<when test="bid!=null">
				and bid = #{bid}
			</when>
			<when test="bname!=null">
				and bname = #{bname}
			</when>
			<when test="cid!=null">
				and b.cid = #{cid}
			</when>
			<when test="isbn!=null">
				and isbn = #{isbn}
			</when>
			<when test="author!=null">
				and author = #{author}
			</when>
			<when test="price!=null">
				and price = #{price}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<resultMap id="map1" type="Book">
		<id property="bid" column="bid" />
		<result property="bname" column="bname" />
		<result property="cid" column="cid" />
		<result property="isbn" column="isbn" />
		<result property="author" column="author" />
		<result property="price" column="price" />
		<result property="pdfs" column="pdfs" />
		<result property="discription" column="discription" />
		<association property="category" javaType="Category">
			<id property="cid" column="cid" />
			<result property="cname" column="cname" />
		</association>
	</resultMap>

	<delete id="delBook"  parameterType="Book"  >
		delete from bookpdf where bid = #{bid}
	</delete>
	
	<!-- 插入的同时 获取最新的id  mySql -->
	<insert id="addBook" parameterType="Book" useGeneratedKeys="true" keyProperty="bid">
		insert into bookpdf(bname,cid,isbn,author,price,pdfs,discription )
		values( #{bname},#{cid},#{isbn},#{author},#{price},#{pdfs},#{discription} );
	</insert>
	
	<!-- 修改 -->
	 <update id="updateBook" parameterType="Book">
	 	update bookpdf set bname=#{bname},cid=#{cid},isbn=#{isbn},author=#{author},price=#{price},discription=#{discription} 
	 	<if test="pdfs!=null and pdfs!='' ">
	 		,pdfs=#{pdfs} 
	 	</if>
	 	where bid=#{bid}
	 </update>
	
</mapper>



















